body {
  background-color: #b3e0ff; /* Warna biru muda */
  margin: 0; /* Menghapus margin default */
  padding: 0; /* Menghapus padding default */
  font-family: Arial, sans-serif; /* Pilihan font untuk aplikasi */
}
